<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [style]="{width: '50vw'}"
  appendTo="body"
>
  <ng-template #header>
    <div class="inline-flex items-start gap-2">
      <span class="font-bold whitespace-nowrap">Mi Información Personal</span>
    </div>
  </ng-template>
  <form #userForm (ngSubmit)="onSubmit()" [formGroup]="form" class="mt-2">
    <div class="flex flex-col justify-between">
      <div class="flex flex-row gap-2 w-full">
        <div class="flex flex-col">
          <p class="text-cyan-900 font-bold">Nombre y Apellidos</p>
          <div class="flex flex-row gap-2 mt-2">
            <p-floatlabel variant="on">
              <input
                id="name"
                pInputText
                formControlName="name"
                type="text"
              />
              <label for="name">Nombre</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
              <input
                id="surname"
                pInputText
                formControlName="surname"
                type="text"
              />
              <label for="surname">Apellidos</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
      <p class="text-cyan-900 font-bold mt-4">Datos de Contacto</p>
      <div class="flex flex-row mt-2 gap-2">
        <p-floatlabel variant="on">
          <input
            id="email"
            pInputText
            formControlName="email"
            type="text"
          />
          <label for="email">Correo Electrónico</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <input
            id="phone"
            pInputText
            formControlName="phone"
            type="text"
          />
          <label for="phone">Teléfono/móvil</label>
        </p-floatlabel>
      </div>
      <p class="text-cyan-900 font-bold mt-4">Información Personal</p>
      <div class="flex flex-row mt-2 gap-2 w-full">
        <p-floatlabel variant="on" class="basis-1/4">
          <input
            id="census"
            pInputText
            formControlName="census"
            type="number"
            class="w-full"
          />
          <label for="census">Censo en su grupo scout</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="basis-1/4">
          <input
            id="nif"
            pInputText
            formControlName="nif"
            type="text"
            class="w-full"
          />
          <label for="nif">DNI/NIE</label>
        </p-floatlabel>
      </div>
      <div class="flex flex-row mt-4 gap-2">
        <p-floatlabel variant="on" class="basis-2/4">
          <input
            id="address"
            pInputText
            formControlName="address"
            type="text"
            class="w-full"
          />
          <label for="address">Dirección Postal</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="basis-1/4">
          <input
            id="city"
            pInputText
            formControlName="city"
            type="text"
          />
          <label for="city">Municipio de residencia</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="basis-1/4">
          <input
            id="country"
            pInputText
            formControlName="country"
            type="text"
          />
          <label for="country">País</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="mt-6 text-end w-full">
      <p-button label="Cancelar" severity="danger" (onClick)="visible.set(false)" class="mr-3"/>
      <p-button
        label="Actualizar Mis Datos"
        [disabled]="!this.form.valid"
        [loading]="loading"
        type="submit"
      />
    </div>
  </form>
</p-dialog>
