@if (step === 1) {
  <div class="max-w-7xl mx-auto p-4 md:p-6">
    <div class="bg-white rounded-2xl md:rounded-3xl shadow-2xl p-4 md:p-8 border border-gray-100">
      <h2 class="text-2xl md:text-3xl font-extrabold text-cyan-900 mb-6 md:mb-8 text-center md:text-left">
        Configuración del Evento Formativo
      </h2>

      <form [formGroup]="eventForm" (ngSubmit)="goToScheduling()" class="mt-2">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col md:flex-row gap-2.5 w-full">
            <div class="flex flex-col flex-1">
              <p class="text-cyan-900 font-bold mb-3">Identificación del Evento</p>
              <p-floatlabel variant="on" class="w-full">
                <input id="title" pInputText formControlName="title" type="text" class="w-full" required/>
                <label for="title">Título del Evento</label>
              </p-floatlabel>
            </div>

            <div class="flex flex-col flex-1">
              <p class="text-cyan-900 font-bold mb-3">Fechas de Realización</p>
              <div class="flex flex-col sm:flex-row gap-1.5">
                <p-floatlabel variant="on" class="w-full">
                  <p-date-picker
                    id="startDate"
                    formControlName="startDate"
                    appendTo="body"
                    styleClass="w-full"
                    required
                    [showIcon]="true"
                    [showTime]="true"
                    [defaultDate]="defaultStartDate"
                    [stepMinute]="5"
                    [hideOnDateTimeSelect]="false"
                  />
                  <label for="startDate">Fecha Inicio</label>
                </p-floatlabel>
                <p-floatlabel variant="on" class="w-full">
                  <p-date-picker
                    id="endDate"
                    formControlName="endDate"
                    appendTo="body"
                    styleClass="w-full"
                    required
                    [showIcon]="true"
                    [showTime]="true"
                    [defaultDate]="defaultEndDate"
                    [stepMinute]="5"
                    [hideOnDateTimeSelect]="false"
                  />
                  <label for="endDate">Fecha Fin</label>
                </p-floatlabel>
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <p class="text-cyan-900 font-bold mb-3">Responsables y Organización</p>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-1.5 w-full">
              <p-floatlabel variant="on">
                <input id="organizer" pInputText formControlName="organizer" type="text" class="w-full" required/>
                <label for="organizer">Entidad Organizadora</label>
              </p-floatlabel>

              <p-floatlabel variant="on">
                <p-select
                  id="director"
                  [options]="directors"
                  optionLabel="name"
                  formControlName="selectedDirector"
                  appendTo="body"
                  styleClass="w-full"
                  required
                />
                <label for="director">Director del Evento</label>
              </p-floatlabel>

              <p-floatlabel variant="on">
                <input id="location" pInputText formControlName="location" type="text" class="w-full" required/>
                <label for="location">Lugar de realización</label>
              </p-floatlabel>
            </div>
          </div>

          <div class="flex flex-col">
            <p class="text-cyan-900 font-bold mb-3">Contenido Educativo</p>
            <div class="flex flex-col md:flex-row gap-1.5 w-full">
                <p-floatlabel variant="on" class="flex-1">
                  <p-multi-select
                    id="blocks"
                    [options]="availableBlocks"
                    formControlName="selectedBlocks"
                    display="chip"
                    [group]="true"
                    [filter]="true"
                    filterBy="label"
                    appendTo="body"
                    styleClass="w-full custom-multiselect-x"
                    scrollHeight="200px"
                    [maxSelectedLabels]="20"
                    (onChange)="onBlockSelectionChange($event)"
                    required
                  >
                    <ng-template let-group pTemplate="group">
                      <div class="flex align-items-center font-bold py-1">
                        <span>{{ group.label }}</span>
                      </div>
                    </ng-template>
                    <ng-template let-block pTemplate="item">
                      <div class="flex align-items-center">
                        <span class="mr-2 text-primary font-semibold">{{ block.value.code }}</span>
                        <span>{{ block.value.name }}</span>
                      </div>
                    </ng-template>
                  </p-multi-select>
                  <label for="blocks">Bloques a impartir</label>
                </p-floatlabel>
            </div>
            <div class="flex flex-col md:flex-row gap-6 w-full mt-3">
              <p-floatlabel variant="on" class="flex-1">
                <textarea id="description" pTextarea formControlName="description" rows="3" class="w-full min-h-11.5"></textarea>
                <label for="description">Descripción del evento</label>
              </p-floatlabel>
            </div>
          </div>
        </div>

        <div class="mt-10 flex flex-col sm:flex-row justify-end gap-4 w-full">
          <p-button
            label="Limpiar"
            [outlined]="true"
            severity="secondary"
            (onClick)="eventForm.reset()"
            class="w-full sm:w-auto order-2 sm:order-1"
          />
          <p-button
            label="Guardar"
            [disabled]="!eventForm.valid"
            [outlined]="true"
            [loading]="loading"
            severity="success"
            icon="pi pi-save"
            (onClick)="saveBasicEvent()"
            class="w-full sm:w-auto order-2 sm:order-2"
          />
          <p-button
            label="Continuar a Cronograma"
            [disabled]="!eventForm.valid"
            type="submit"
            icon="pi pi-arrow-right"
            iconPos="right"
            class="w-full sm:w-auto order-1 sm:order-2"
          />
        </div>
      </form>
    </div>
  </div>
}

@if (step === 2) {
  <app-event-scheduler
    [basicInfo]="eventForm.value"
    [pendingBlocks]="pendingBlocks"
    [initialTimeline]="savedTimeline"
    (onBack)="handleBack($event)"
  ></app-event-scheduler>
}
