<h1 class="font-bold">Formación</h1>
<div class="grid grid-cols-9 grid-rows-2 gap-2 mt-3">
  <div class="col-span-4 row-span-2 p-4 flex flex-col text-center bg-[var(--p-amber-300)] rounded-xl shadow justify-center">
    <h2  class="text-lg font-semibold">Nuestro Equipo</h2>
    <p-carousel
      class="mt-4"
      [value]="teachers"
      [numVisible]="2"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="5000">
      <ng-template let-teacher #item>
        <div class="flex flex-col items-center text-center  bg-[var(--p-amber-200)] p-4 rounded-lg shadow-sm me-2">
          <img [src]="teacher.imagen" alt="Foto de {{teacher.nombre}}" class="w-40 h-40 rounded-full mb-2 object-cover" />
          <p class="font-semibold">{{ teacher.nombre }}</p>
          <p class="text-sm text-gray-600">{{ teacher.rol }}</p>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="col-span-1 row-span-1 bg-[var(--p-yellow-200)] rounded-xl shadow p-4 flex flex-col text-center justify-center">
    <h2 class="text-lg font-semibold">Personas en Formación</h2>
    <p class="text-2xl font-bold">134</p>
  </div>
  <div class="col-span-2 row-span-1 bg-[var(--p-yellow-100)] rounded-xl shadow p-4 justify-center">
    <h2 class="text-lg font-semibold text-center">Etapas formativas</h2>
    <ul class="mt-2 space-y-1">
      <li>Acogida al Scouter: <strong>54 personas</strong></li>
      <li>Educador Scout: <strong>62 personas</strong></li>
      <li>Coordinador Scout: <strong>18 personas</strong></li>
    </ul>
  </div>
  <div class="col-span-2 row-span-2 bg-[var(--p-amber-100)] rounded-xl shadow p-4 flex flex-col justify-center text-center">
    <p-carousel [value]="carouselItems" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="7000" [showIndicators]="true">
      <ng-template let-item #item>
        <div class="p-4">
          <h3 class="text-xl font-bold mb-2">{{ item.title }}</h3>
          <div class="text-gray-700" [innerHTML]="item.content"></div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="col-span-3 row-span-1 bg-[var(--p-amber-200)] rounded-xl shadow p-4">
    <h2 class="text-lg font-semibold">Próximos Eventos Formativos</h2>
    <ul class="mt-2 space-y-2">
      <li class="bg-[var(--p-amber-100)] rounded-xl p-2">
        <div class="font-bold">Acogida al Scouter Tenerife</div>
        <div class="text-sm text-gray-600">Inicia: 3 de junio de 2025</div>
      </li>
      <li class="bg-[var(--p-amber-100)] rounded-xl p-2">
        <div class="font-bold">Educador Scout BFES-10 y BFES-4</div>
        <div class="text-sm text-gray-600">Inicia: 10 de junio de 2025</div>
      </li>
    </ul>
  </div>
</div>
<div class="mt-6 text-center">
  <p-button
    routerLink="/app/admin/oferta-educativa"
  >
    Ir a la Oferta Educativa Actual
  </p-button>
</div>
