<footer class="w-full border-t border-gray-200 px-4 py-4 md:px-6 mt-auto box-border">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 text-sm text-gray-600 font-medium w-full">

    <div class="flex items-center flex-wrap gap-3">
      <a routerLink="/politica-privacidad" class="hover:text-ecatlim transition-colors duration-200">
        Política de privacidad
      </a>

      <div class="hidden sm:block h-4 w-px bg-gray-300"></div>

      <a class="flex items-center gap-1.5 hover:text-ecatlim transition-colors duration-200" href="mailto:ecatlim@scoutsdecanarias.org">
        <i class="pi pi-envelope text-base"></i> ecatlim&#64;scoutsdecanarias.org
      </a>
    </div>

    <div class="flex items-center gap-4 md:gap-6">
      <a class="flex items-center gap-1.5 hover:text-ecatlim transition-colors duration-200" href="https://www.instagram.com/ecatlim/" target="_blank">
        <i class="pi pi-instagram text-base"></i>
      </a>
    </div>

  </div>
</footer>
