.hashtags{
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  color: var(--p-teal-500);
  b{
    color: var(--p-blue-500);
  }
}

a{
  color: var(--p-cyan-500);
}

h1{
  color: var(--p-blue-500);
}
