<div class="flex flex-col items-center h-full justify-center">
  <div class="text-center justify-center">
    <img src="assets/logo.jpeg" alt="Logo" class="mx-auto">
    <h1 class="font-bold">Aula Virtual</h1>
    <h1 class="font-semibold">ECATLIM</h1>
  </div>
  <p>¿No tienes una cuenta?
    <a routerLink="/solicitud-registro"
       style="font-style: inherit;
                text-decoration-line: underline;"
    >Solicita una</a></p>
  @if (!recoverPassword) {
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="flex flex-col items-center mt-6">
        <p-floatlabel variant="on" class="w-full">
          <input
            id="username"
            pInputText
            formControlName="username"
            type="text"
            class="w-full"
          />
          <label for="username">Correo Electrónico</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="mt-5 w-full">
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <label for="password">Contraseña</label>
        </p-floatlabel>
        <div class="w-full flex justify-end">
          <a class="text-blue-500 text-sm mt-3" style="cursor:pointer" (click)="recoverPassword = true">
            He olvidado mi contraseña
          </a>
        </div>
        <p-button
          class="mt-4"
          severity="primary"
          label="Iniciar Sesión"
          icon="pi pi-user"
          [loading]="loading"
          type="submit"
        ></p-button>
      </div>
    </form>
  } @else {
    <div class="flex flex-col items-center mt-3">
      <p>Introduce a continuación tu correo de acceso</p>
      <p>para enviarte una nueva contraseña.</p>
      <p-floatlabel variant="on" class="w-full mt-6">
        <input
          id="recover"
          pInputText
          type="text"
          class="w-full"
          [(ngModel)]="forgotUsername"
        />
        <label for="recover">Correo Electrónico</label>
      </p-floatlabel>
      <div class="w-full flex justify-end">
        <a class="text-blue-500 text-sm mt-3" style="cursor:pointer" (click)="recoverPassword = false">
          Volver a inicio de sesión
        </a>
      </div>
      <p-button
        class="mt-4"
        severity="primary"
        label="Enviar correo"
        icon="pi pi-send"
        [loading]="loading"
        [disabled]="!forgotUsername"
        (onClick)="sendRecoverEmail()"
      ></p-button>
    </div>
  }
  <div class="ms-6 hashtags text-center">
    <h2><b>E</b>SCUELA <b>C</b>ANARIA de <b>A</b>NIMACIÓN en el <b>T</b>IEMPO <b>L</b>IBRE <b>I</b>NSIGNIA de <b>M</b>ADERA</h2>
  </div>
</div>

