<div class="min-h-screen">
  <div class="flex flex-row min-h-screen w-full items-center">
    <div class="flex flex-1 flex-col items-center">
      <div class="text-center justify-center">
        <img src="assets/logo.jpeg" alt="Logo" class="mx-auto">
        <h1 class="font-bold">Aula Virtual</h1>
        <h1 class="font-semibold">ECATLIM</h1>
        <h2>Establecer nueva contraseña</h2>
        <div class="flex flex-col items-center mt-3">
          <div>
            @if (changePassword) {
              <p-floatlabel variant="on" class="w-full mt-2">
                <p-password
                  id="actualPassword"
                  [(ngModel)]="actualPassword"
                  [toggleMask]="true"
                  [feedback]="false"
                ></p-password>
                <label for="actualPassword">Contraseña Actual</label>
              </p-floatlabel>
            }
            <p-floatlabel variant="on" class="w-full mt-4">
              <p-password
                id="password"
                [(ngModel)]="newPassword"
                [toggleMask]="true"
                [feedback]="false"
              ></p-password>
              <label for="password">Nueva Contraseña</label>
            </p-floatlabel>
            <p-floatlabel variant="on" class="w-full mt-4">
              <p-password
                id="repeat-password"
                [(ngModel)]="repeatedPassword"
                [toggleMask]="true"
                [feedback]="false"
                [inputStyleClass]="repeatMismatch ? 'p-invalid' : ''"
              ></p-password>
              <label for="repeat-password">Repetir Nueva Contraseña</label>
            </p-floatlabel>
          </div>
          @if (repeatMismatch) {
            <div class="text-red-600 text-sm mt-2">
              Las contraseñas no coinciden
            </div>
          }
          <div class="mt-3">
            <small>
              @for (rule of passwordValidationRules; track rule.key){
                @if (checkPasswordRegex(rule.regex) == "red") {
                  <span [innerHTML]="rule.text" [style.color]="checkPasswordRegex(rule.regex)"></span>
                }
              }
            </small>
          </div>
          <p-button
            class="mt-4"
            severity="primary"
            label="Cambiar Contraseña"
            icon="pi pi-send"
            [loading]="loading"
            [disabled]="!passwordValid || !passwordsMatch"
            (onClick)="resetPassword()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ms-6 hashtags">
  <h2><b>E</b>SCUELA <b>C</b>ANARIA de <b>A</b>NIMACIÓN en el <b>T</b>IEMPO <b>L</b>IBRE <b>I</b>NSIGNIA de <b>M</b>ADERA</h2>
</div>
