@if (stage) {
  <div class="pe-12 ps-12">
    <div class="flex flex-row justify-between items-center">
      <h1 class="text-center font-bold">{{ stage.name }} ({{ stage.code }})</h1>
      <p-button
        icon="pi pi-pencil"
        label="Editar Etapa Formativa"
        severity="info"
        rounded
        outlined
      ></p-button>
    </div>
    <div class="flex flex-row justify-between mt-2 p-2">
      <div class="basis-2/3">
        <div>
          <p-fieldset legend="Descripción de la Etapa">
            <p-scroll-panel [style]="{ width: '100%', height: '140px' }">
              <p>{{ stage.description }}</p>
            </p-scroll-panel>
          </p-fieldset>
          @if (stage.previousStageRequired) {
            <p class="mt-2"><strong>¿Requiere etapa previa?:</strong> {{ stage.previousStageRequired ? 'Sí' : 'No' }} - {{getPreviousStageCode(stage.previousStageId)}}</p>
          } @else {
            <p class="mt-2"><strong>¿Requiere etapa previa?:</strong> {{ stage.previousStageRequired ? 'Sí' : 'No' }}</p>
          }
        </div>
      </div>
      <div class="basis-1/3 flex justify-center p-4">
        <table class="hours-table">
          <thead>
          <tr>
            <th class="!bg-white"></th>
            <th>Total</th>
            <th>Asignadas</th>
            <th>% Cubierto</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><i class="pi pi-globe"></i> Online</td>
            <td>{{ stage.onlineHours }}</td>
            <td>{{ stage.allocatedOnlineHours }}</td>
            <td>
              {{
                stage.onlineHours
                  ? ((stage.allocatedOnlineHours ?? 0) / stage.onlineHours * 100 | number:'1.0-0') + '%'
                  : '0%'
              }}
            </td>
          </tr>
          <tr>
            <td><i class="pi pi-users"></i> Presenciales</td>
            <td>{{ stage.contactHours }}</td>
            <td>{{ stage.allocatedContactHours }}</td>
            <td>
              {{
                stage.contactHours
                  ? ((stage.allocatedContactHours ?? 0) / stage.contactHours * 100 | number:'1.0-0') + '%'
                  : '0%'
              }}
            </td>
          </tr>
          <tr>
            <td><i class="pi pi-cog"></i> Prácticas</td>
            <td>{{ stage.practicalHours }}</td>
            <td>{{ stage.allocatedPracticalHours }}</td>
            <td>
              {{
                stage.practicalHours
                  ? ((stage.allocatedPracticalHours ?? 0) / stage.practicalHours * 100 | number:'1.0-0') + '%'
                  : '0%'
              }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex flex-row justify-between mb-3 items-center">
      <h2 class="title-2">Módulos de la Etapa</h2>
      <p-button
        label="Añadir Módulo"
        severity="secondary"
        rounded
        outlined
      ></p-button>
    </div>
    @if (hasModule(stage)) {
      <p-accordion [multiple]="true">
        @for (module of stage.modules; track module.id) {
          <p-accordion-panel [value]="$index">
            <p-accordion-header>{{ module.name }}</p-accordion-header>
            <p-accordion-content>
              <p><strong>Descripción:</strong> {{ module.description }}</p>
              <p><strong>Tipo:</strong> {{ module.type | moduleType }}</p>
              <p><strong>Horas:</strong> Online {{ module.onlineHours }} | Presenciales {{ module.contactHours }}</p>
              <p><strong>Horas Asignadas:</strong> Online {{ module.allocatedOnlineHours }} |
                Presenciales {{ module.allocatedContactHours }}</p>
              <div class="flex flex-row justify-between items-center mb-2">
                <h2>Bloques Formativos</h2>
                <p-button
                  label="Añadir Bloque"
                  severity="secondary"
                  rounded
                  outlined
                ></p-button>
              </div>
              @if (hasLessonBlock(module)) {
                <p-accordion [multiple]="true">
                  @for (block of module.lessonBlocks; track block.lessonBlockId) {
                    <p-accordion-panel [value]="$index">
                      <p-accordion-header>{{ block.name }}</p-accordion-header>
                      <p-accordion-content>
                        <p><strong>Descripción:</strong> {{ block.description }}</p>
                        <p><strong>Horas:</strong> Online {{ block.onlineHours }} |
                          Presenciales {{ block.contactHours }}</p>
                        <p><strong>¿Convalidable?:</strong> {{ block.recognizable ? 'Sí' : 'No' }}</p>
                      </p-accordion-content>
                    </p-accordion-panel>
                  }
                </p-accordion>
              } @else {
                <p>No hay bloques en este módulo</p>
              }
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>

    } @else {
      <p>No hay módulos para esta etapa</p>
    }</div>
} @else {
  <p>Cargando información de la etapa...</p>
}
