h2{
  margin-top: 0.5rem;
  color: var(--p-amber-500);
  font-weight: bold;
}

p, li{
  color: var(--p-zinc-700);
}

a{
  color: var(--p-cyan-500);
  font-style: inherit;
  text-decoration-line: underline;
}
