<div class="flex h-screen">
  <div class="content-container flex-1 overflow-y-auto p-5 md:pr-72">
    <router-outlet></router-outlet>
  </div>
  <div class="hidden md:flex fixed top-0 right-4 h-screen w-64 z-10">
    <div class="bg-[url('../assets/login-elements/triangles.svg')] bg-repeat-y bg-top w-1/3 h-full"></div>
    <div class="w-2/3 flex flex-col items-center justify-around">
      <img alt="castores" src="assets/login-elements/Castor.svg" class="mb-2" />
      <img alt="lobatos" src="assets/login-elements/Huella.svg" class="mb-2" />
      <img alt="tropa" src="assets/login-elements/Tropa.svg" class="mb-2" />
      <img alt="escultas" src="assets/login-elements/Nudo.svg" class="mb-2" />
      <img alt="rovers" src="assets/login-elements/Horquilla.svg" class="mb-2" />
      <img alt="flor de lis" src="assets/login-elements/Flor de Lis.svg" />
    </div>
  </div>
</div>
