@import "primeicons/primeicons.css";

@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

@layer tailwind {
  @import "tailwindcss";
}

*{
  font-family: "Droid Sans", sans-serif;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 20px;
}
